/*
Etiqueta{ }
.clase{}
#id{}

*/

body {
    background: rgb(255, 255, 255);
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

header .contenedor {
    /*El display : flex permite hacer a los elementos mas manipulables
    y debe tener la rederencia del padre al hijo*/
    display: flex;
    justify-content: space-between;
    /*Justificamos el contenido de header y este depende del display sin este no se muestran los cambios*/
    text-decoration-color: aliceblue;
}

#contenedor-titulo {
    display: flex;
    justify-content: center;
    margin: 18vh 0;
    max-width: 1589px;
    width: 100%;
    /*Este text align center es para centrar tanto el boton como los textos que se encuentren en este div*/
    text-align: center;
}

.contenedor-titulo a,
#sobre_mi a,
#blog a,
#que-esperas a,
#contacto input[type="submit"] {
    font-size: 14px;
    color: aliceblue;
    font-weight: bold;
    background: #5cb8ff;
    padding: 14px 24px;
    box-shadow: 0 0 1em rgb(19, 118, 131);
    /*Al ser a un elemento inline, no se pueden ver siertos cambios como al aplicarle un width, por ello 
    se debe colocar la sig. linea para ver estos cambios*/
    display: inline-block;
}

a.logo {
    color: aliceblue;
    font-size: 23px;
    font-weight: bolder;
    /*Text-shadow: x y radioDesenfoque colorSombra
    para aplicar doble sombra colocas una coma seguida de los 4 valores para la segunda sombra*/
    text-shadow: 2px 2px 2px blue;
    display: inline-block;
    padding-top: 15px;
}

nav ul li a {
    color: #fff;
    padding-top: 15px;
    display: inline-block
}

header .lista-menu {
    display: flex;
}

header .lista-menu li {
    list-style: none;
    /*quitamos los puntitos de la lista*/
    margin-right: 20px;
}

a {
    /*Quitamos el subrayado de los links*/
    text-decoration: none;
}

.contenedor {
    /*colocar el maximo de ancho en 2800 es un standar*/
    max-width: 2800px;
    /*indica el % del maximo-ancho de este contenedor se utiliza*/
    width: 90%;
    margin: auto;
}

h1 {
    color: #fff;
    font-size: 60px;
    margin: 0;
}

h2 {
    color: aliceblue;
    font-size: 30px;
    text-align: center;
}

header {
    /*Con los ../ indicamos que se vaya una posicion mas atras de la ubicacion de este archivo
    --Vaciar memoria cache con ctrl + shift + R */
    /*Con el linear gradient agregamos una cortina de color a la imagen de fondo
    los valores del rgba significan rojo,verde,azul,transparencia
    los primeros tres valores van de un rango de 0 - 255
    La transparencia va de 0.0-1*/
    background: linear-gradient(rgba(84, 93, 220, .9), rgba(96, 171, 245, .9)), url(../imagenes/programmer.jpg);
    /*vh lo que ocupa de la pantalla*/
    height: 100vh;
    /*background-size: cover permite ajustar la imagen al espacio establecido*/
    background-size: cover;
}


/*Secvion sobre mi*/

h3 {
    text-align: center;
    font-size: 55px;
    /*el font-weight de los h3 por defecto el bold(negrita)*/
    font-weight: normal;
}

.escritorio {
    width: 50%;
    height: auto;
}

#sobre_mi .escritorio img {
    width: 98%;
    height: auto;
}

#sobre_mi .contenedor-sobre-mi {
    display: flex;
    /*colocamos espacio entre los elemntos de .contenedor-sobre-mi*/
    justify-content: space-around;
}

#sobre_mi .text-yo {
    /*Hacemos mas pequeño el texto de el div sobre-mi*/
    width: 42%;
}

p.texto-objetivo {
    margin-top: 0;
}


/*Srccion servicios

.Icon-serv {
    width: 25px;
    height: 25px;
    /*hacemos redonda la imagen con border-radius: 150px
    border-radius: 150px;
    float: right;
}*/

.contenedor-servicios {
    display: flex;
    /*el wrap permite que cuando un contenedor se pasa de la panralla este
    se baje*/
    flex-wrap: wrap;
    /*colocamos un espacio entre sus elemntos*/
    justify-content: space-around;
    color: #fff;
}

.servicio {
    width: 25%;
    margin-bottom: 25px;
    padding: 34px 30px 48px 30px;
    border-radius: 10px;
    margin-bottom: 40px;
    /*position relative nos permite poder acomodar a los elemntos de este
    por left, bottom righr top como a Icon-fontb le indicamos que 
    comience desade la izquiesda y desde abajo*/
    position: relative;
}

.Icon-serv {
    width: 65px;
    height: 65px;
    position: absolute;
    /*Indicamos que esta imagen debe comenzar desde abaha y la izquiedfa*/
    right: 10px;
    bottom: 0px;
    float: right;
}

.servicio img {
    margin-top: 20px;
}

.servicio h4 {
    font-size: 30px;
    margin: 0;
}

.servicio p {
    margin-bottom: 2px;
    height: auto;
}

.contenedor-servicios .violeta {
    background: linear-gradient(to top, #5055df, #6d68f3);
    box-shadow: 0 12px 30px 0 rgb(80, 85, 223, .37);
}

.contenedor-servicios .celeste {
    background: linear-gradient(to top, #40a8f9, #5cb8ff);
    box-shadow: 0 12px 30px 0 rgb(86, 163, 222, .3);
}


/*Mis trabajos*/

.item img {
    width: 200px !important;
    height: 236px !important;
    margin: 10px;
}

button.owl-next,
button.owl-prev {
    font-size: 40px !important;
}

span {
    color: #71bcfa;
}


/*Porque trabaja conmigo*/

.contenedor-trabajar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#por-que-trabajar .item {
    width: 28%;
    text-align: center;
}

.contenedor-trabajar ul li {
    list-style: none;
    text-align: center;
}

#por-que-trabajar ul li:first-child img {
    background: #fff;
    width: 140px;
    height: 140px;
}


/*llamamos al segundo hijo del li*/

#por-que-trabajar ul li:nth-child(2) {
    font-weight: bold;
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 20px;
}

#por-que-trabajar ul li:nth-child(3) {
    /*agregamos una separacion entre lineas*/
    line-height: 30px;
}


/*seccion Blog*/

#blog img {
    width: 100%;
    /*para que tenga un ancho del 100 de su contenedor*/
    height: 240px;
}

#blog {
    /*Cambiamos el color de fondo para que se diferencie del 
    fondo blanco de cada entrada*/
    background: #F9FAFC;
}

#blog h4 {
    font-size: 23px;
    margin-bottom: 15px;
}

#blog p {
    color: #5A6169;
    line-height: 23px;
    font-size: 16px;
    height: 90px;
    margin-bottom: 20px;
}

.botont a {
    /*Damos un ancho y menos sombra a este boton, pues tambien se agrego a
    los estilos del boton a que se creo anteriormente*/
    width: 87px;
    box-shadow: 0 0 .3em rgb(19, 118, 131);
    margin: 12px;
}

#blog h4 {
    margin: 12px;
}

.contenedor-publicaciones {
    display: flex;
    justify-content: space-around;
}

.publicacion {
    width: 30%;
    box-shadow: 1px 1px 14px #ccc;
}

.contenido p {
    margin: 20px;
}


/*SECCION QUE ESPERAS*/

#que-esperas {
    background: linear-gradient(rgba(84, 93, 220, .94), rgba(96, 171, 245, .9));
    padding: 50px 0;
    margin-top: 40px;
    text-align: center;
}

#que-esperas h3 {
    font-size: 23px;
    color: #fff;
}


/*SECCION CONTACTO*/

#contacto form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 77%;
    margin: auto;
}

input[type="text"],
input[type="email"] {
    width: 49%;
    margin-bottom: 15px;
    padding: 18px 0;
    border: 0;
    border-bottom: 1px solid #5cb8ff;
    font-size: 17px;
}

textarea {
    padding: 18px 0;
    border: 0;
    border-bottom: 1px solid #5cb8ff;
    font-size: 17px;
    margin-bottom: 40px;
    width: 100%;
}

#contacto input[type="submit"] {
    width: 180px;
    margin: auto;
    text-align: center;
}


/*FOOTER*/

.contacto-info {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.contacto-info img {
    width: 28px;
    vertical-align: middle;
    margin-right: 10px;
}

footer {
    background: #2f2f2f;
    padding: 40px 0;
    text-align: center;
    margin-top: 40px;
}

footer .contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*jave que los elemntos queden uno abajo del otro, por defecto es rout */
}


/*Hacemos que las imagenes roten*/

footer img {
    margin: 0 40px;
    transform: rotate(0);
    transition: 0.4s;
}

footer img:hover {
    transform: rotate(360deg);
    transition: 0.4s;
}

footer p {
    color: #fff;
    margin-top: 40px;
}


/*Boton flotante*/

#whatsapp {
    position: fixed;
    /*dejamos el elemto fijo en la pantalla*/
    top: 87%;
    right: 1%;
}

html {
    /*Si las etiquetas a no tienen link no funcionan*/
    scroll-behavior: smooth;
}


/*Colocamos un padding a cada seccion para que se vea el titulo al momento en que el link del menu nos enlace a esa seccion*/

#contacto,
#sobre_mi,
#mis-trabajos,
#servicios,
#por-que-trabajar,
#blog {
    padding: 90px 0;
}


/*Eliminamos el icono de menu para la version de escritorio*/

.menu-icon {
    display: none;
}


/*Responsovidad*/


/*480 pixeles medida para celular
    800 pixeles medida para tablet*/

@media (max-width: 800px) {
    /*Estilos para pantallas con a lo mas 800 pixeles*/
    /*header {
        height: 20vh;
    }*/
    .menu-icon {
        /*hacemos visible el icono de menu*/
        display: block;
        float: right;
        width: 40px;
        height: 35px;
        margin-top: 15px;
    }
    header nav {
        position: absolute;
        top: 83px;
        left: 0;
        height: 268px;
        background: #5cb8ff;
        width: 100%;
        display: none;
    }
    header nav ul {
        flex-direction: column;
    }
    header nav ul li {
        margin-bottom: 15px;
    }
    h1 {
        font-size: 44px;
    }
    h2 {
        font-size: 19px;
    }
    .contenedor-sobre-mi {
        flex-direction: column;
    }
    .escritorio {
        width: 50%;
        height: auto;
        align-self: center;
    }
    .escritorio img {
        width: 100%;
    }
    #sobre_mi .text-yo {
        width: 100%;
    }
    .contenedor-servicios {
        flex-direction: column;
    }
    .servicio {
        width: 82%;
        padding: 34px 30px 69px 30px;
    }
    .icono {
        margin-top: 23px;
    }
    h3 {
        font-size: 43px;
    }
    .item img {
        width: 100% !important;
    }
    .item ul {
        padding: 5px;
    }
    .contenedor-trabajar {
        flex-direction: column;
    }
    #por-que-trabajar .item {
        width: 100%;
    }
    .contenedor-publicaciones {
        flex-direction: column;
    }
    .publicacion {
        width: 100%;
        margin-bottom: 40px;
    }
    #contacto form {
        flex-direction: column;
        width: 100%
    }
    input[type="text"],
    input[type="email"] {
        width: 100%;
    }
}


/*Estilos para Ipad o tablet*/

@media (min-width: 600px) and (max-width: 800px) {
    header {
        height: 70vh;
    }
    .servicio {
        width: 57%;
        padding: 34px 30px 69px 30px;
        margin: auto;
        margin-bottom: 45px;
    }
    #por-que-trabajar .item {
        width: 82%;
        margin: auto;
    }
    #por-que-trabajar ul li:first-child img {
        width: 59% !important;
    }
    .publicacion {
        width: 79%;
        margin-bottom: 40px;
        margin: auto;
    }
}